In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
# Load and combine all matchup CSV files
file_paths = glob.glob("matchups-*.csv")

# combine all CSV files into a single DataFrame
games_df = pd.concat([pd.read_csv(file) for file in file_paths], ignore_index=True)

print(f"Total records combine: {len(games_df)}")

Total records combine: 236912

3*fgm_3 + 2*fgm_2 + fta (can't use ftm for some reason) + 1.2*reb + 1.5*ast + 2*blk - to

In [4]:
players_dict = {}

def get_player_score(row, home):
    if home:
        return 3*row["fgm_3_home"] + 2*row["fgm_2_home"] + row["fta_home"] + 1.2*row["reb_home"] + 1.5*row["ast_home"] + 2*row["blk_home"] - row["to_home"]
    else:
        return 3*row["fgm_3_visitor"] + 2*row["fgm_2_visitor"] + row["fta_visitor"] + 1.2*row["reb_visitor"] + 1.5*row["ast_visitor"] + 2*row["blk_visitor"] - row["to_visitor"]

def update_player_dict(player, index, home=True):
    if player not in players_dict:
        players_dict[player] = {
            "name": player,
            "team": '',
            "score": 0,
            "total_games": 0
        }
        if home:
            players_dict[player]['team']=games_df.at[index, 'home_team']
        else:
            players_dict[player]['team']=games_df.at[index, 'away_team']
    
    players_dict[player]["score"] += get_player_score(row, home)
    players_dict[player]["total_games"] += 1

In [5]:
print(games_df.columns)

Index(['game', 'season', 'home_team', 'away_team', 'starting_min', 'end_min',
       'home_0', 'home_1', 'home_2', 'home_3', 'home_4', 'away_0', 'away_1',
       'away_2', 'away_3', 'away_4', 'fga_home', 'fta_home', 'fgm_home',
       'fga_2_home', 'fgm_2_home', 'fga_3_home', 'fgm_3_home', 'ast_home',
       'blk_home', 'pf_home', 'reb_home', 'dreb_home', 'oreb_home', 'to_home',
       'pts_home', 'pct_home', 'pct_2_home', 'pct_3_home', 'fga_visitor',
       'fta_visitor', 'fgm_visitor', 'fga_2_visitor', 'fgm_2_visitor',
       'fga_3_visitor', 'fgm_3_visitor', 'ast_visitor', 'blk_visitor',
       'pf_visitor', 'reb_visitor', 'dreb_visitor', 'oreb_visitor',
       'to_visitor', 'pts_visitor', 'pct_visitor', 'pct_2_visitor',
       'pct_3_visitor', 'outcome'],
      dtype='object')

In [6]:
# Build player dictionary
for index, row in games_df.iterrows():
    game_row = index
    
    homeplayers = []
    homeplayers.append(row['home_0'])
    homeplayers.append(row['home_1'])
    homeplayers.append(row['home_2'])
    homeplayers.append(row['home_3'])
    homeplayers.append(row['home_4'])

    awayplayers = []
    awayplayers.append(row['away_0'])
    awayplayers.append(row['away_1'])
    awayplayers.append(row['away_2'])
    awayplayers.append(row['away_3'])
    awayplayers.append(row['away_4'])

    for player in homeplayers:
        update_player_dict(player, index, home=True);
    for player in awayplayers:
        update_player_dict(player, index, home=False);

In [7]:
player_df_dict = {"name":[], "team":[], "score":[], "total_games":[]}
for player in players_dict:
    player_df_dict["name"].append(players_dict[player]["name"])
    player_df_dict["team"].append(players_dict[player]["team"])
    player_df_dict["score"].append(players_dict[player]["score"])
    player_df_dict["total_games"].append(players_dict[player]["total_games"])

In [8]:
player_df = pd.DataFrame(data=player_df_dict, columns=["name", "team", "score", "total_games"])

In [9]:
for index, row in player_df.iterrows():
    print(row)

name           Andrew Bynum
team                    LAL
score               39720.0
total_games            4094
Name: 0, dtype: object
name           Lamar Odom
team                  LAL
score             58549.1
total_games          6795
Name: 1, dtype: object
name           Luke Walton
team                   LAL
score              26387.3
total_games           2962
Name: 2, dtype: object
name           Sasha Vujacic
team                     LAL
score                18456.4
total_games             2887
Name: 3, dtype: object
name           Smush Parker
team                    LAL
score               11326.2
total_games            1229
Name: 4, dtype: object
name           Boris Diaw
team                  PHO
score             59691.6
total_games          9096
Name: 5, dtype: object
name           Kurt Thomas
team                   PHO
score              25348.1
total_games           3638
Name: 6, dtype: object
name           Raja Bell
team                 PHO
score            39129.8
total_games         4494
Name: 7, dtype: object
name           Shawn Marion
team                    PHO
score               77954.9
total_games            8581
Name: 8, dtype: object
name           Steve Nash
team                  PHO
score             68250.6
total_games          6927
Name: 9, dtype: object
name           Amar'e Stoudemire
team                         PHO
score                    70107.1
total_games                 7867
Name: 10, dtype: object
name           Leandro Barbosa
team                       PHO
score                  45625.5
total_games               6334
Name: 11, dtype: object
name           Maurice Evans
team                     LAL
score                31181.5
total_games             4161
Name: 12, dtype: object
name           Ronny Turiaf
team                    LAL
score               30713.8
total_games            3797
Name: 13, dtype: object
name           James Jones
team                   PHO
score              24732.8
total_games           3498
Name: 14, dtype: object
name           Marcus Banks
team                    PHO
score                4953.0
total_games             793
Name: 15, dtype: object
name           Vladimir Radmanovic
team                           LAL
score                      24459.8
total_games                   3094
Name: 16, dtype: object
name           Brian Cook
team                  LAL
score              9045.3
total_games          1255
Name: 17, dtype: object
name           Jordan Farmar
team                     LAL
score                30037.6
total_games             4982
Name: 18, dtype: object
name           Cuttino Mobley
team                      LAC
score                 20928.2
total_games              2575
Name: 19, dtype: object
name           Elton Brand
team                   LAC
score              54260.8
total_games           6494
Name: 20, dtype: object
name           Quinton Ross
team                    LAC
score               18036.5
total_games            2405
Name: 21, dtype: object
name           Shaun Livingston
team                        LAC
score                   34455.9
total_games                4747
Name: 22, dtype: object
name           Tim Thomas
team                  LAC
score             19914.8
total_games          2610
Name: 23, dtype: object
name           Corey Maggette
team                      LAC
score                 38326.7
total_games              4973
Name: 24, dtype: object
name           Chris Kaman
team                   LAC
score              47409.5
total_games           5816
Name: 25, dtype: object
name           Sam Cassell
team                   LAC
score               9930.3
total_games           1158
Name: 26, dtype: object
name           Andrei Kirilenko
team                        UTA
score                   50531.7
total_games                5288
Name: 27, dtype: object
name           C.J. Miles
team                  UTA
score             45826.1
total_games          5133
Name: 28, dtype: object
name           Carlos Boozer
team                     UTA
score                78476.2
total_games             7862
Name: 29, dtype: object
name           Deron Williams
team                      UTA
score                 85988.7
total_games              9635
Name: 30, dtype: object
name           Mehmet Okur
team                   UTA
score              40801.5
total_games           4153
Name: 31, dtype: object
name           Derek Fisher
team                    UTA
score               57738.9
total_games            5900
Name: 32, dtype: object
name           Matt Harpring
team                     UTA
score                15566.6
total_games             2199
Name: 33, dtype: object
name           Paul Millsap
team                    UTA
score               78118.3
total_games            8837
Name: 34, dtype: object
name           Ronnie Brewer
team                     UTA
score                44963.1
total_games             4951
Name: 35, dtype: object
name           Gordan Giricek
team                      UTA
score                  7503.1
total_games              1078
Name: 36, dtype: object
name           Jarron Collins
team                      UTA
score                  8498.3
total_games              1141
Name: 37, dtype: object
name           Daniel Ewing
team                    LAC
score                2215.5
total_games             363
Name: 38, dtype: object
name           Bruce Bowen
team                   SAS
score              23639.6
total_games           2977
Name: 39, dtype: object
name           Fabricio Oberto
team                       SAS
score                  15880.7
total_games               2071
Name: 40, dtype: object
name           Manu Ginobili
team                     SAS
score                60414.1
total_games             7833
Name: 41, dtype: object
name           Tim Duncan
team                  SAS
score             81685.1
total_games          9019
Name: 42, dtype: object
name           Tony Parker
team                   SAS
score              77651.8
total_games           8709
Name: 43, dtype: object
name           Brent Barry
team                   SAS
score              10761.1
total_games           1577
Name: 44, dtype: object
name           Michael Finley
team                      SAS
score                 26502.4
total_games              3313
Name: 45, dtype: object
name           Robert Horry
team                    SAS
score                6163.7
total_games             921
Name: 46, dtype: object
name           Beno Udrih
team                  SAS
score             56251.3
total_games          6953
Name: 47, dtype: object
name           Francisco Elson
team                       SAS
score                  12724.0
total_games               1853
Name: 48, dtype: object
name           Jalen Rose
team                  PHO
score               836.5
total_games           126
Name: 49, dtype: object
name           Devin Harris
team                    DAL
score               48935.0
total_games            7672
Name: 50, dtype: object
name           Dirk Nowitzki
team                     DAL
score                88860.3
total_games             9900
Name: 51, dtype: object
name           Erick Dampier
team                     DAL
score                29810.6
total_games             3182
Name: 52, dtype: object
name           Jason Terry
team                   DAL
score              72387.9
total_games           9553
Name: 53, dtype: object
name           Jerry Stackhouse
team                        DAL
score                   17585.7
total_games                2603
Name: 54, dtype: object
name           Anthony Johnson
team                       DAL
score                  17079.2
total_games               2270
Name: 55, dtype: object
name           DeSagana Diop
team                     DAL
score                13600.5
total_games             2482
Name: 56, dtype: object
name           Greg Buckner
team                    DAL
score                9274.3
total_games            1523
Name: 57, dtype: object
name           Maurice Ager
team                    DAL
score                1259.4
total_games             235
Name: 58, dtype: object
name           Devean George
team                     DAL
score                12541.3
total_games             1804
Name: 59, dtype: object
name           Damon Stoudamire
team                        MEM
score                    9159.3
total_games                1156
Name: 60, dtype: object
name           Eddie Jones
team                   MEM
score               8259.4
total_games           1140
Name: 61, dtype: object
name           Hakim Warrick
team                     MEM
score                34367.1
total_games             4988
Name: 62, dtype: object
name           Mike Miller
team                   MEM
score              52502.0
total_games           6570
Name: 63, dtype: object
name           Stromile Swift
team                      MEM
score                  6950.7
total_games              1103
Name: 64, dtype: object
name           Lawrence Roberts
team                        MEM
score                    3688.3
total_games                 485
Name: 65, dtype: object
name           Dahntay Jones
team                     MEM
score                28934.6
total_games             3791
Name: 66, dtype: object
name           Rudy Gay
team                MEM
score           88594.2
total_games       10185
Name: 67, dtype: object
name           Chucky Atkins
team                     MEM
score                12646.7
total_games             1763
Name: 68, dtype: object
name           Jumaine Jones
team                     PHO
score                  506.4
total_games               68
Name: 69, dtype: object
name           Alexander Johnson
team                         MEM
score                     4513.6
total_games                  650
Name: 70, dtype: object
name           Kyle Lowry
team                  MEM
score             65543.7
total_games          7751
Name: 71, dtype: object
name           Pat Burke
team                 PHO
score              527.6
total_games           81
Name: 72, dtype: object
name           Eric Piatkowski
team                       PHO
score                    605.5
total_games                 86
Name: 73, dtype: object
name           Allen Iverson
team                     PHI
score                35391.3
total_games             4020
Name: 74, dtype: object
name           Andre Iguodala
team                      PHI
score                 93436.9
total_games             10759
Name: 75, dtype: object
name           Chris Webber
team                    PHI
score                6954.5
total_games             742
Name: 76, dtype: object
name           Kevin Ollie
team                   PHI
score               8338.1
total_games           1136
Name: 77, dtype: object
name           Samuel Dalembert
team                        PHI
score                   59132.6
total_games                6307
Name: 78, dtype: object
name           Steven Hunter
team                     PHI
score                 6450.2
total_games              881
Name: 79, dtype: object
name           Kyle Korver
team                   PHI
score              66059.7
total_games           8099
Name: 80, dtype: object
name           Shavlik Randolph
team                        PHI
score                    2585.6
total_games                 347
Name: 81, dtype: object
name           Willie Green
team                    PHI
score               43444.2
total_games            5651
Name: 82, dtype: object
name           Rodney Carney
team                     PHI
score                16430.2
total_games             2309
Name: 83, dtype: object
name           Lou Williams
team                    PHI
score               53248.8
total_games            7570
Name: 84, dtype: object
name           Rafael Araujo
team                     UTA
score                  945.7
total_games              128
Name: 85, dtype: object
name           Roger Powell
team                    UTA
score                  44.1
total_games               7
Name: 86, dtype: object
name           Andris Biedrins
team                       GSW
score                  39283.5
total_games               4108
Name: 87, dtype: object
name           Jason Richardson
team                        GSW
score                   52531.9
total_games                6371
Name: 88, dtype: object
name           Keith McLeod
team                    GSW
score                2391.2
total_games             360
Name: 89, dtype: object
name           Mickael Pietrus
team                       GSW
score                  32335.2
total_games               4216
Name: 90, dtype: object
name           Monta Ellis
team                   GSW
score              92565.2
total_games          10537
Name: 91, dtype: object
name           Mike Dunleavy
team                     GSW
score                64649.6
total_games             7838
Name: 92, dtype: object
name           Troy Murphy
team                   GSW
score              38183.5
total_games           4808
Name: 93, dtype: object
name           Matt Barnes
team                   GSW
score              63435.2
total_games           7384
Name: 94, dtype: object
name           Anthony Roberson
team                        GSW
score                    1689.7
total_games                 249
Name: 95, dtype: object
name           Bobby Jackson
team                     NOK
score                11193.7
total_games             2141
Name: 96, dtype: object
name           Chris Paul
team                  NOK
score             64907.9
total_games          9210
Name: 97, dtype: object
name           Desmond Mason
team                     NOK
score                14999.1
total_games             2213
Name: 98, dtype: object
name           Peja Stojakovic
team                       NOK
score                  16071.4
total_games               3046
Name: 99, dtype: object
name           Tyson Chandler
team                      NOK
score                 54245.7
total_games              7513
Name: 100, dtype: object
name           Marc Jackson
team                    NOK
score                1335.2
total_games             397
Name: 101, dtype: object
name           Rasual Butler
team                     NOK
score                30956.3
total_games             5099
Name: 102, dtype: object
name           Jannero Pargo
team                     NOK
score                12187.1
total_games             2728
Name: 103, dtype: object
name           Cedric Simmons
team                      NOK
score                  1468.2
total_games               349
Name: 104, dtype: object
name           Jason Collins
team                     NJN
score                13335.2
total_games             2020
Name: 105, dtype: object
name           Jason Kidd
team                  NJN
score             58478.4
total_games          7391
Name: 106, dtype: object
name           Nenad Krstic
team                    NJN
score               19649.0
total_games            2329
Name: 107, dtype: object
name           Richard Jefferson
team                         NJN
score                    60634.8
total_games                 8373
Name: 108, dtype: object
name           Vince Carter
team                    NJN
score               58481.6
total_games            9282
Name: 109, dtype: object
name           Mikki Moore
team                   NJN
score              18482.6
total_games           2701
Name: 110, dtype: object
name           Marcus Williams
team                       NJN
score                   7392.4
total_games               1711
Name: 111, dtype: object
name           Antoine Wright
team                      NJN
score                 15740.2
total_games              2500
Name: 112, dtype: object
name           Bostjan Nachbar
team                       NJN
score                   5376.5
total_games               1730
Name: 113, dtype: object
name           Hassan Adams
team                    NJN
score                1277.6
total_games             245
Name: 114, dtype: object
name           Ime Udoka
team                 POR
score            19374.6
total_games         2631
Name: 115, dtype: object
name           Jarrett Jack
team                    POR
score               68282.8
total_games            9539
Name: 116, dtype: object
name           LaMarcus Aldridge
team                         POR
score                    87850.2
total_games                 9648
Name: 117, dtype: object
name           Martell Webster
team                       POR
score                  47533.9
total_games               5854
Name: 118, dtype: object
name           Zach Randolph
team                     POR
score                78969.1
total_games             8563
Name: 119, dtype: object
name           Travis Outlaw
team                     POR
score                34837.1
total_games             5578
Name: 120, dtype: object
name           Juan Dixon
team                  POR
score             12154.4
total_games          1775
Name: 121, dtype: object
name           Stephen Graham
team                      POR
score                  6497.5
total_games              1329
Name: 122, dtype: object
name           Jamaal Magloire
team                       POR
score                  12081.8
total_games               1827
Name: 123, dtype: object
name           Sergio Rodriguez
team                        POR
score                   13536.2
total_games                1940
Name: 124, dtype: object
name           Rafer Alston
team                    HOU
score               33691.0
total_games            3865
Name: 125, dtype: object
name           Shane Battier
team                     HOU
score                64785.7
total_games             7123
Name: 126, dtype: object
name           Steve Novak
team                   HOU
score              19485.6
total_games           2849
Name: 127, dtype: object
name           Tracy McGrady
team                     HOU
score                34745.6
total_games             3916
Name: 128, dtype: object
name           Yao Ming
team                HOU
score           22913.9
total_games        2482
Name: 129, dtype: object
name           Chuck Hayes
team                   HOU
score              43008.2
total_games           4758
Name: 130, dtype: object
name           Luther Head
team                   HOU
score              19488.1
total_games           2686
Name: 131, dtype: object
name           Vassilis Spanoulis
team                          HOU
score                       766.3
total_games                   136
Name: 132, dtype: object
name           John Lucas III
team                      HOU
score                  8187.8
total_games              1360
Name: 133, dtype: object
name           Andrew Bogut
team                    MIL
score               57496.0
total_games            6020
Name: 134, dtype: object
name           Charlie Bell
team                    MIL
score               28717.6
total_games            3730
Name: 135, dtype: object
name           Michael Redd
team                    MIL
score               27317.6
total_games            3091
Name: 136, dtype: object
name           Mo Williams
team                   MIL
score              70231.8
total_games           8067
Name: 137, dtype: object
name           Ruben Patterson
team                       MIL
score                  10429.3
total_games               1243
Name: 138, dtype: object
name           Ersan Ilyasova
team                      MIL
score                 40062.0
total_games              4742
Name: 139, dtype: object
name           Dan Gadzuric
team                    MIL
score               11035.6
total_games            1503
Name: 140, dtype: object
name           Steve Blake
team                   MIL
score              60056.0
total_games           7389
Name: 141, dtype: object
name           David Noel
team                  MIL
score              2638.1
total_games           408
Name: 142, dtype: object
name           John Salmons
team                    SAC
score               65154.1
total_games            8295

In [10]:
print(player_df)

                  name team    score  total_games
0         Andrew Bynum  LAL  39720.0         4094
1           Lamar Odom  LAL  58549.1         6795
2          Luke Walton  LAL  26387.3         2962
3        Sasha Vujacic  LAL  18456.4         2887
4         Smush Parker  LAL  11326.2         1229
...                ...  ...      ...          ...
1039     Andre Dawkins  MIA     66.6           11
1040   Sean Kilpatrick  MIN    237.4           39
1041        David Wear  SAC     29.1            4
1042  Cameron Bairstow  CHI    208.4           25
1043  Jerrelle Benimon  UTA     14.6            1

[1044 rows x 4 columns]

In [11]:
# Round the score column to 2 decimal places
player_df['score'] = player_df['score'].round(2)

# Save the updates DataFrame to CSV
player_df.to_csv('combined_player_data.csv', index=False)

print("Player data successfully saved to 'combined_player_data.csv'")

Player data successfully saved to 'combined_player_data.csv'