In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
games_df = pd.read_csv(f"matchups-2007.csv")

3*fgm_3 + 2*fgm_2 + fta (can't use ftm for some reason) + 1.2*reb + 1.5*ast + 2*blk - to

In [4]:
players_dict = {}

def get_player_score(row, home):
    if home:
        return 3*row["fgm_3_home"] + 2*row["fgm_2_home"] + row["fta_home"] + 1.2*row["reb_home"] + 1.5*row["ast_home"] + 2*row["blk_home"] - row["to_home"]
    else:
        return 3*row["fgm_3_visitor"] + 2*row["fgm_2_visitor"] + row["fta_visitor"] + 1.2*row["reb_visitor"] + 1.5*row["ast_visitor"] + 2*row["blk_visitor"] - row["to_visitor"]

def update_player_dict(player, index, home=True):
    if player not in players_dict:
        players_dict[player] = {
            "name": player,
            "team": '',
            "score": 0,
            "total_games": 0
        }
        if home:
            players_dict[player]['team']=games_df.at[index, 'home_team']
        else:
            players_dict[player]['team']=games_df.at[index, 'away_team']
    
    players_dict[player]["score"] += get_player_score(row, home)
    players_dict[player]["total_games"] += 1

In [5]:
print(games_df.columns)

Index(['game', 'season', 'home_team', 'away_team', 'starting_min', 'end_min',
       'home_0', 'home_1', 'home_2', 'home_3', 'home_4', 'away_0', 'away_1',
       'away_2', 'away_3', 'away_4', 'fga_home', 'fta_home', 'fgm_home',
       'fga_2_home', 'fgm_2_home', 'fga_3_home', 'fgm_3_home', 'ast_home',
       'blk_home', 'pf_home', 'reb_home', 'dreb_home', 'oreb_home', 'to_home',
       'pts_home', 'pct_home', 'pct_2_home', 'pct_3_home', 'fga_visitor',
       'fta_visitor', 'fgm_visitor', 'fga_2_visitor', 'fgm_2_visitor',
       'fga_3_visitor', 'fgm_3_visitor', 'ast_visitor', 'blk_visitor',
       'pf_visitor', 'reb_visitor', 'dreb_visitor', 'oreb_visitor',
       'to_visitor', 'pts_visitor', 'pct_visitor', 'pct_2_visitor',
       'pct_3_visitor', 'outcome'],
      dtype='object')

In [6]:
# Build player dictionary
for index, row in games_df.iterrows():
    game_row = index
    
    homeplayers = []
    homeplayers.append(row['home_0'])
    homeplayers.append(row['home_1'])
    homeplayers.append(row['home_2'])
    homeplayers.append(row['home_3'])
    homeplayers.append(row['home_4'])

    awayplayers = []
    awayplayers.append(row['away_0'])
    awayplayers.append(row['away_1'])
    awayplayers.append(row['away_2'])
    awayplayers.append(row['away_3'])
    awayplayers.append(row['away_4'])

    for player in homeplayers:
        update_player_dict(player, index, home=True);
    for player in awayplayers:
        update_player_dict(player, index, home=False);

In [7]:
player_df_dict = {"name":[], "team":[], "score":[], "total_games":[]}
for player in players_dict:
    player_df_dict["name"].append(players_dict[player]["name"])
    player_df_dict["team"].append(players_dict[player]["team"])
    player_df_dict["score"].append(players_dict[player]["score"])
    player_df_dict["total_games"].append(players_dict[player]["total_games"])

In [8]:
player_df = pd.DataFrame(data=player_df_dict, columns=["name", "team", "score", "total_games"])

In [9]:
for index, row in player_df.iterrows():
    print(row)

name           Andrew Bynum
team                    LAL
score                6790.3
total_games             746
Name: 0, dtype: object
name           Lamar Odom
team                  LAL
score              8630.1
total_games           921
Name: 1, dtype: object
name           Luke Walton
team                   LAL
score               7510.0
total_games            788
Name: 2, dtype: object
name           Sasha Vujacic
team                     LAL
score                 3402.4
total_games              482
Name: 3, dtype: object
name           Smush Parker
team                    LAL
score                9533.2
total_games             938
Name: 4, dtype: object
name           Boris Diaw
team                  PHO
score              8996.3
total_games           996
Name: 5, dtype: object
name           Kurt Thomas
team                   PHO
score               4586.8
total_games            603
Name: 6, dtype: object
name           Raja Bell
team                 PHO
score            11627.9
total_games         1236
Name: 7, dtype: object
name           Shawn Marion
team                    PHO
score               12201.0
total_games            1279
Name: 8, dtype: object
name           Steve Nash
team                  PHO
score             11175.9
total_games          1111
Name: 9, dtype: object
name           Amar'e Stoudemire
team                         PHO
score                    11024.0
total_games                 1133
Name: 10, dtype: object
name           Leandro Barbosa
team                       PHO
score                  10190.7
total_games               1294
Name: 11, dtype: object
name           Maurice Evans
team                     LAL
score                 6207.3
total_games              856
Name: 12, dtype: object
name           Ronny Turiaf
team                    LAL
score                4083.2
total_games             579
Name: 13, dtype: object
name           James Jones
team                   PHO
score               5102.2
total_games            712
Name: 14, dtype: object
name           Marcus Banks
team                    PHO
score                1613.6
total_games             263
Name: 15, dtype: object
name           Vladimir Radmanovic
team                           LAL
score                       3582.5
total_games                    467
Name: 16, dtype: object
name           Brian Cook
team                  LAL
score              3723.0
total_games           431
Name: 17, dtype: object
name           Jordan Farmar
team                     LAL
score                 3791.3
total_games              580
Name: 18, dtype: object
name           Cuttino Mobley
team                      LAC
score                  9981.2
total_games              1220
Name: 19, dtype: object
name           Elton Brand
team                   LAC
score              11209.4
total_games           1339
Name: 20, dtype: object
name           Quinton Ross
team                    LAC
score                6221.6
total_games             749
Name: 21, dtype: object
name           Shaun Livingston
team                        LAC
score                    5992.7
total_games                 750
Name: 22, dtype: object
name           Tim Thomas
team                  LAC
score              7305.4
total_games          1013
Name: 23, dtype: object
name           Corey Maggette
team                      LAC
score                  8158.6
total_games              1103
Name: 24, dtype: object
name           Chris Kaman
team                   LAC
score               7744.1
total_games            922
Name: 25, dtype: object
name           Sam Cassell
team                   LAC
score               5138.9
total_games            637
Name: 26, dtype: object
name           Andrei Kirilenko
team                        UTA
score                    8205.7
total_games                 780
Name: 27, dtype: object
name           C.J. Miles
team                  UTA
score              1499.7
total_games           145
Name: 28, dtype: object
name           Carlos Boozer
team                     UTA
score                10337.2
total_games             1061
Name: 29, dtype: object
name           Deron Williams
team                      UTA
score                 11484.0
total_games              1237
Name: 30, dtype: object
name           Mehmet Okur
team                   UTA
score              10468.7
total_games           1089
Name: 31, dtype: object
name           Derek Fisher
team                    UTA
score                9028.1
total_games            1003
Name: 32, dtype: object
name           Matt Harpring
team                     UTA
score                 7465.4
total_games             1050
Name: 33, dtype: object
name           Paul Millsap
team                    UTA
score                5356.5
total_games             798
Name: 34, dtype: object
name           Ronnie Brewer
team                     UTA
score                 2459.3
total_games              319
Name: 35, dtype: object
name           Gordan Giricek
team                      UTA
score                  4499.4
total_games               631
Name: 36, dtype: object
name           Jarron Collins
team                      UTA
score                  3543.5
total_games               500
Name: 37, dtype: object
name           Daniel Ewing
team                    LAC
score                2215.5
total_games             363
Name: 38, dtype: object
name           Bruce Bowen
team                   SAS
score               9221.2
total_games           1136
Name: 39, dtype: object
name           Fabricio Oberto
team                       SAS
score                   5067.3
total_games                672
Name: 40, dtype: object
name           Manu Ginobili
team                     SAS
score                 7795.7
total_games             1053
Name: 41, dtype: object
name           Tim Duncan
team                  SAS
score             10333.6
total_games          1269
Name: 42, dtype: object
name           Tony Parker
team                   SAS
score               9316.9
total_games           1137
Name: 43, dtype: object
name           Brent Barry
team                   SAS
score               5806.4
total_games            824
Name: 44, dtype: object
name           Michael Finley
team                      SAS
score                  6574.9
total_games               941
Name: 45, dtype: object
name           Robert Horry
team                    SAS
score                4070.1
total_games             614
Name: 46, dtype: object
name           Beno Udrih
team                  SAS
score              3220.6
total_games           492
Name: 47, dtype: object
name           Francisco Elson
team                       SAS
score                   4703.0
total_games                622
Name: 48, dtype: object
name           Jalen Rose
team                  PHO
score               836.5
total_games           126
Name: 49, dtype: object
name           Devin Harris
team                    DAL
score                7515.4
total_games            1014
Name: 50, dtype: object
name           Dirk Nowitzki
team                     DAL
score                10563.5
total_games             1378
Name: 51, dtype: object
name           Erick Dampier
team                     DAL
score                 7208.3
total_games              891
Name: 52, dtype: object
name           Jason Terry
team                   DAL
score              10561.5
total_games           1361
Name: 53, dtype: object
name           Jerry Stackhouse
team                        DAL
score                    5580.6
total_games                 915
Name: 54, dtype: object
name           Anthony Johnson
team                       DAL
score                   4422.5
total_games                699
Name: 55, dtype: object
name           DeSagana Diop
team                     DAL
score                 4949.4
total_games              825
Name: 56, dtype: object
name           Greg Buckner
team                    DAL
score                4629.8
total_games             771
Name: 57, dtype: object
name           Maurice Ager
team                    DAL
score                 549.4
total_games             111
Name: 58, dtype: object
name           Devean George
team                     DAL
score                 4353.6
total_games              694
Name: 59, dtype: object
name           Damon Stoudamire
team                        MEM
score                    5475.8
total_games                 705
Name: 60, dtype: object
name           Eddie Jones
team                   MEM
score               4982.9
total_games            711
Name: 61, dtype: object
name           Hakim Warrick
team                     MEM
score                 7632.5
total_games             1065
Name: 62, dtype: object
name           Mike Miller
team                   MEM
score               9981.2
total_games           1289
Name: 63, dtype: object
name           Stromile Swift
team                      MEM
score                  3687.0
total_games               533
Name: 64, dtype: object
name           Lawrence Roberts
team                        MEM
score                    3688.3
total_games                 485
Name: 65, dtype: object
name           Dahntay Jones
team                     MEM
score                 6238.6
total_games              861
Name: 66, dtype: object
name           Rudy Gay
team                MEM
score            7546.5
total_games        1052
Name: 67, dtype: object
name           Chucky Atkins
team                     MEM
score                 7667.3
total_games             1065
Name: 68, dtype: object
name           Jumaine Jones
team                     PHO
score                  506.4
total_games               68
Name: 69, dtype: object
name           Alexander Johnson
team                         MEM
score                     2836.8
total_games                  379
Name: 70, dtype: object
name           Kyle Lowry
team                  MEM
score               641.0
total_games            94
Name: 71, dtype: object
name           Pat Burke
team                 PHO
score              527.6
total_games           81
Name: 72, dtype: object
name           Eric Piatkowski
team                       PHO
score                    243.1
total_games                 35
Name: 73, dtype: object
name           Allen Iverson
team                     PHI
score                10103.3
total_games             1324
Name: 74, dtype: object
name           Andre Iguodala
team                      PHI
score                 10593.0
total_games              1342
Name: 75, dtype: object
name           Chris Webber
team                    PHI
score                6391.9
total_games             701
Name: 76, dtype: object
name           Kevin Ollie
team                   PHI
score               3053.2
total_games            433
Name: 77, dtype: object
name           Samuel Dalembert
team                        PHI
score                    8769.1
total_games                 982
Name: 78, dtype: object
name           Steven Hunter
team                     PHI
score                 5419.7
total_games              750
Name: 79, dtype: object
name           Kyle Korver
team                   PHI
score               7867.4
total_games           1235
Name: 80, dtype: object
name           Shavlik Randolph
team                        PHI
score                     690.3
total_games                  90
Name: 81, dtype: object
name           Willie Green
team                    PHI
score                6229.4
total_games             841
Name: 82, dtype: object
name           Rodney Carney
team                     PHI
score                 4009.8
total_games              508
Name: 83, dtype: object
name           Lou Williams
team                    PHI
score                2511.1
total_games             362
Name: 84, dtype: object
name           Rafael Araujo
team                     UTA
score                  945.7
total_games              128
Name: 85, dtype: object
name           Roger Powell
team                    UTA
score                  44.1
total_games               7
Name: 86, dtype: object
name           Andris Biedrins
team                       GSW
score                   9490.2
total_games               1086
Name: 87, dtype: object
name           Jason Richardson
team                        GSW
score                    7026.9
total_games                 747
Name: 88, dtype: object
name           Keith McLeod
team                    GSW
score                2391.2
total_games             360
Name: 89, dtype: object
name           Mickael Pietrus
team                       GSW
score                   7378.0
total_games                942
Name: 90, dtype: object
name           Monta Ellis
team                   GSW
score              10403.1
total_games           1250
Name: 91, dtype: object
name           Mike Dunleavy
team                     GSW
score                 8789.8
total_games             1192
Name: 92, dtype: object
name           Troy Murphy
team                   GSW
score               6204.9
total_games            804
Name: 93, dtype: object
name           Matt Barnes
team                   GSW
score               7124.7
total_games            908
Name: 94, dtype: object
name           Anthony Roberson
team                        GSW
score                     727.2
total_games                 113
Name: 95, dtype: object
name           Bobby Jackson
team                     NOK
score                 2480.4
total_games              695
Name: 96, dtype: object
name           Chris Paul
team                  NOK
score              4454.8
total_games           953
Name: 97, dtype: object
name           Desmond Mason
team                     NOK
score                 4136.1
total_games             1051
Name: 98, dtype: object
name           Peja Stojakovic
team                       NOK
score                    991.0
total_games                185
Name: 99, dtype: object
name           Tyson Chandler
team                      NOK
score                  4226.9
total_games              1044
Name: 100, dtype: object
name           Marc Jackson
team                    NOK
score                1335.2
total_games             397
Name: 101, dtype: object
name           Rasual Butler
team                     NOK
score                 3407.9
total_games              976
Name: 102, dtype: object
name           Jannero Pargo
team                     NOK
score                 2660.2
total_games              835
Name: 103, dtype: object
name           Cedric Simmons
team                      NOK
score                   962.0
total_games               256
Name: 104, dtype: object
name           Jason Collins
team                     NJN
score                 3354.1
total_games              697
Name: 105, dtype: object
name           Jason Kidd
team                  NJN
score              5211.4
total_games          1255
Name: 106, dtype: object
name           Nenad Krstic
team                    NJN
score                1112.7
total_games             362
Name: 107, dtype: object
name           Richard Jefferson
team                         NJN
score                     3016.5
total_games                  852
Name: 108, dtype: object
name           Vince Carter
team                    NJN
score                5478.8
total_games            1343
Name: 109, dtype: object
name           Mikki Moore
team                   NJN
score               3927.6
total_games            907
Name: 110, dtype: object
name           Marcus Williams
team                       NJN
score                   2147.4
total_games                724
Name: 111, dtype: object
name           Antoine Wright
team                      NJN
score                  1807.3
total_games               525
Name: 112, dtype: object
name           Bostjan Nachbar
team                       NJN
score                   2761.4
total_games                823
Name: 113, dtype: object
name           Hassan Adams
team                    NJN
score                1130.6
total_games             227
Name: 114, dtype: object
name           Ime Udoka
team                 POR
score             7282.1
total_games          858
Name: 115, dtype: object
name           Jarrett Jack
team                    POR
score                9077.7
total_games            1115
Name: 116, dtype: object
name           LaMarcus Aldridge
team                         POR
score                     4915.2
total_games                  669
Name: 117, dtype: object
name           Martell Webster
team                       POR
score                   6082.3
total_games                852
Name: 118, dtype: object
name           Zach Randolph
team                     POR
score                 8378.9
total_games             1039
Name: 119, dtype: object
name           Travis Outlaw
team                     POR
score                 5193.5
total_games              831
Name: 120, dtype: object
name           Juan Dixon
team                  POR
score              6773.7
total_games          1025
Name: 121, dtype: object
name           Stephen Graham
team                      POR
score                   567.9
total_games                89
Name: 122, dtype: object
name           Jamaal Magloire
team                       POR
score                   5906.5
total_games                867
Name: 123, dtype: object
name           Sergio Rodriguez
team                        POR
score                    2950.8
total_games                 476
Name: 124, dtype: object
name           Rafer Alston
team                    HOU
score               11489.6
total_games            1271
Name: 125, dtype: object
name           Shane Battier
team                     HOU
score                10991.0
total_games             1233
Name: 126, dtype: object
name           Steve Novak
team                   HOU
score                493.3
total_games             85
Name: 127, dtype: object
name           Tracy McGrady
team                     HOU
score                 9622.8
total_games             1070
Name: 128, dtype: object
name           Yao Ming
team                HOU
score            6113.7
total_games         653
Name: 129, dtype: object
name           Chuck Hayes
team                   HOU
score               6299.9
total_games            749
Name: 130, dtype: object
name           Luther Head
team                   HOU
score               7653.4
total_games           1124
Name: 131, dtype: object
name           Vassilis Spanoulis
team                          HOU
score                       766.3
total_games                   136
Name: 132, dtype: object
name           John Lucas III
team                      HOU
score                  1103.6
total_games               186
Name: 133, dtype: object
name           Andrew Bogut
team                    MIL
score                8380.9
total_games             913
Name: 134, dtype: object
name           Charlie Bell
team                    MIL
score               10636.2
total_games            1249
Name: 135, dtype: object
name           Michael Redd
team                    MIL
score                7871.2
total_games             848
Name: 136, dtype: object
name           Mo Williams
team                   MIL
score               9322.7
total_games           1005
Name: 137, dtype: object
name           Ruben Patterson
team                       MIL
score                   9280.9
total_games               1088
Name: 138, dtype: object
name           Ersan Ilyasova
team                      MIL
score                  3334.6
total_games               474
Name: 139, dtype: object
name           Dan Gadzuric
team                    MIL
score                3143.1
total_games             433
Name: 140, dtype: object
name           Steve Blake
team                   MIL
score               8555.8
total_games           1067
Name: 141, dtype: object
name           David Noel
team                  MIL
score              2638.1
total_games           408
Name: 142, dtype: object
name           John Salmons
team                    SAC
score                6094.8
total_games            1108

In [10]:
print(player_df)

                name team   score  total_games
0       Andrew Bynum  LAL  6790.3          746
1         Lamar Odom  LAL  8630.1          921
2        Luke Walton  LAL  7510.0          788
3      Sasha Vujacic  LAL  3402.4          482
4       Smush Parker  LAL  9533.2          938
..               ...  ...     ...          ...
452   Dijon Thompson  ATL   142.7           29
453    Doug Christie  LAC   274.6           43
454  Randolph Morris  NYK   172.7           26
455        Mile Ilic  NJN     0.0            1
456  James Augustine  ORL    23.0            2

[457 rows x 4 columns]

In [12]:
# Round the score column to 2 decimal places
player_df['score'] = player_df['score'].round(2)

# Save the updates DataFrame to CSV
player_df.to_csv('player_data.csv', index=False)

print("Player data successfully saved to 'player_data.csv'")

Player data successfully saved to 'player_data.csv'